<form class="" action="/loja/a" method="post">
  <input type="text" name="nome" value="" autocomplete="off" placeholder="Nome"><br>
  <input type="text" name="end.rua" value="" autocomplete="off" placeholder="Rua"><br>
  <input type="text" name="end.numero" value="" autocomplete="off" placeholder="Número"><br>
  <input type="text" name="end.cep" value="" autocomplete="off" placeholder="CEP"><br>
  <input type="text" name="desc" value="" autocomplete="off" placeholder="Descrição"><br>
  <button type="submit">Enviar</button><br>
</form>
