<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Listar</p><br>
    <ul>
      <li><a href="/lojas">Lojas</a></li>
      <li><a href="/marcas">Marcas</a></li>
      <li><a href="/produtos">Produtos</a></li>
    </ul>
    <p>Inserir</p><br>
    <ul>
      <li><a href="/loja/i">Loja</a></li>
      <li><a href="/marca/i">Marca</a></li>
      <li><a href="/produto/i">Produto</a></li>
    </ul>
    <p>JSON</p><br>
    <ul>
      <li><a href="/lojas/j">Lojas</a></li>
      <li><a href="/marcas/j">Marcas</a></li>
      <li><a href="/produtos/j">Produtos</a></li>
    </ul>
  </body>
</html>
