<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/addLoja" method="post">
      <input type="text" name="nome" value="" placeholder="Nome"><br>
      <input type="text" name="empresa_id" value="" placeholder="EmpresaID"><br>
      <input type="text" name="end.bairro" value="" placeholder="Bairro"><br>
      <input type="text" name="end.cep" value="" placeholder="CEP"><br>
      <input type="text" name="end.rua" value="" placeholder="Rua"><br>
      <input type="text" name="end.numero" value="" placeholder="Número"><br>
      <input type="text" name="end.predio" value="" placeholder="Prédio"><br>
      <input type="text" name="end.apartamento" value="" placeholder="Apartamento"><br>
      <button type="submit" name="button">Cadastrar</button><br>
    </form>
  </body>
</html>
