<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Index</p>
    <div class="">
      <ul>
        <li><a href="/gLoja">Ver Lojas</a></li>
        <li><a href="/gMarca">Ver Marcas</a></li>
        <li><a href="/gPedido">Ver Pedidos</a></li>
        <li><a href="/gProduto">Ver Produtos</a></li>
      </ul>
    </div><br><br>
    <div class="">
      <ul>
        <li><a href="/iLoja">Inserir Loja</a></li>
        <li><a href="/iMarca">Inserir Marca</a></li>
        <li><a href="/iPedido">Inserir Pedido</a></li>
        <li><a href="/iProduto">Inserir Produto</a></li>
      </ul>
    </div>
  </body>
</html>
