<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/nome_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/nome_modules/bootstrap/dist/js/bootstrap.min.js">
    <link rel="stylesheet" href="/nome_modules/bootstrap/dist/css/bootstrap.js">
  </head>
  <body>
    <form class="" action="/addPedido" method="post">
      <input type="text" name="codigo" value="" placeholder="Código"><br>
      <input type="text" name="nome" value="" placeholder="Nome"><br>
      <input type="text" name="modoEntrega" value="" placeholder="ModoEntrega"><br>
      <input type="text" name="data" value="" placeholder="Data"><br>
      <input type="text" name="telefone" value="" placeholder="Telefone"><br>
      <input type="text" name="email" value="" placeholder="Email"><br>
      <input type="text" name="end.cep" value="" placeholder="CEP"><br>
      <input type="text" name="end.numero" value="" placeholder="Número"><br>
      <input type="text" name="end.bloco" value="" placeholder="Bloco"><br>
      <input type="text" name="end.apartamento" value="" placeholder="Apartamento"><br>
      <input type="text" name="valor" value="" placeholder="Valor"><br>
      <button type="submit" name="button">Enviar</button>
    </form>
  </body>
</html>
