<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/addProduto" method="post">
      <input type="text" name="nome" value="" placeholder="Nome"><br>
      <input type="text" name="marca" value="" placeholder="Marca"><br>
      <input type="text" name="volume.vLitro" value="" placeholder="vLitro"><br>
      <input type="text" name="volume.vmL" value="" placeholder="vmL"><br>
      <button type="submit" name="button">Enviar</button>
    </form>
  </body>
</html>
